*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

body{
    background-image: url(https://images.pexels.com/photos/33315262/pexels-photo-33315262.jpeg);
    background-size: cover;
}
:root{
    --x:200px;
    --y:200px;
}
.box{
    width: 100%;
    height: 100%;
    background:radial-gradient(200px at var(--x) var(--y), rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.799));
}