*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderRotate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

.box{
    
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    border: 5px solid transparent;
    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, #dd0270, black) border-box;
    animation: borderRotate 4s linear infinite;
}

.box img{
    width: 100%;
}
