@font-face {
    font-family: a1;
    src: url(./sf-pro-display_medium.woff2);
}
@font-face {
    font-family: a2;
    src: url(./sf-pro-display_bold.woff2);
}
@font-face {
    font-family: a3;
    src: url(./sf-pro-text_regular.woff2);
}
@font-face {
    font-family: a4;
    src: url(./724-font.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: a3;
}
html,
body{
    width: 100%;
    height: 100%;
    background-color: white;
}
#nav{
    height: 60px;
    background-color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
#nav h4{
    color:white;
    font-weight: 300;
}
i{
    color: white;
}
#center{
    height: 80%;
    width: 100%;
    background-image:url(https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:90px;
    color:rgb(255, 111, 0) ;
}
#center h1{
    
    font-size: 140px;
    font-family: a4;
    transform: scaleX(1.3);
    letter-spacing: -5px;
}
#center h2{
    
    font-size: 50px;
    
}