*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderRotate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

.box{
    
    color: whitesmoke;
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 0px #ff00c3 ;
    border-radius: 15px;
    border: 0px solid transparent;
    animation: borderRotate 4s linear infinite paused;
    text-shadow: 0 0 0px #f269d2;
    transition: all 0.3s linear;
}
.box:hover{
    text-shadow: 0 0 10px #f269d2;
    background:
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(255, 2, 128), black) border-box;
    border:5px solid transparent;
    animation-play-state: running;
    box-shadow: 0 0 30px #ff00c3;
    color: #ff00c3;
}

.box img{
    width: 100%;
}

.box p{
    font-size: 11px;
}