*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body,html{
    height: 100%;
    width: 100%;
    
}

body{
    background-color: black;
    color: white;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap:10px;
    section{
        height: 100%;
        flex-grow: 1;
        background-color: rgb(1, 34, 81);
        background-size: cover;
        background-position: center;
        transition: all 0.7s  cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;
    }
    section:hover{
        flex-grow: 2;
    }

    section:nth-child(1){
        background-image: url("./Spiderman.jpg");
    }
    section:nth-child(2){
        background-image: url("./Avengers\ Doomsday.jpg");
    }
    section:nth-child(3){
        background-image: url("./Doom\ is\ coming.jpg");
    }
    section:nth-child(4){
        background-image: url("./God\ Loki.jpg");
    }
    section:nth-child(5){
        background-image: url("./cyclops.jpg");
    }
}